{% extends "devilry_bootstrapbase/base.django.html" %}
{% load i18n %}

{% load static %}

{% block title %}Devilry - example{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "devilry_examiner/stylesheets/styles.css" %}" />
    {#{% include "markup/mathjaxheader.django.html" %}#}
{% endblock %}


{% block body %}
    {% include "devilry_bootstrapbase/bootstrap-all-js.django.html" %}
    <script type="text/javascript" src="{% url devilry-settings %}"></script>

    <script type="text/javascript" src="{% url devilry_examiner_i18n %}"></script>
    {% include "devilry_bootstrapbase/extjsapp.django.html" with appname="devilry_examiner" %}

    <div class="container">
        <h1>
            {% blocktrans %}Your assignments{% endblocktrans %}
        </h1>
        <div id="yourAssignments">
            <script type="script/extjs-xtemplate" id="yourAssignmentsTemplate">
                <ul>
                    <tpl for="assignments">
                        <li>
                            {data.long_name}
                        </li>
                    </tpl>
                </ul>
                <a class="btn btn-default">{% trans "Show all" %}</a>
            </script>
        </div>
    </div>
{% endblock %}
